@using SQuadro.Models;
@model TagModel
@{
    Layout = null;
}
@using (Html.BeginForm("SetTagDetails", "Tags", FormMethod.Post, new { @class = "form-horizontal", id = "formDetail" }))
{
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.OrganizationID)
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label col-lg-3", @for = "inputName" })
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.Name, new { id = "inputName", @class = "form-control", placeholder = "Input new Tag" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
}