@using SQuadro.Models
@model LocalPasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Header")
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal form-centered" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label col-lg-4", @for = "inputOldPassword" })
        <div class="col-lg-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                @Html.PasswordFor(m => m.OldPassword, new { id = "inputOldPassword", @class = "form-control", placeholder = "Old Password", autofocus = "autofocus" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label col-lg-4", @for = "inputNewPassword" })
        <div class="col-lg-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                @Html.PasswordFor(m => m.NewPassword, new { id = "inputNewPassword", @class = "form-control", placeholder = "New Password" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-lg-4", @for = "inputConfirmPassword" })
        <div class="col-lg-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                @Html.PasswordFor(m => m.ConfirmPassword, new { id = "inputConfirmPassword", @class = "form-control", placeholder = "New Password Confirmation" })
            </div>
        </div>
    </div>
    <div class="form-group-nomargin">
        <div class="pull-right">
            <button type="submit" class="btn btn-default btn-inverse btn-lg">Submit</button>
        </div>
    </div>
}