@model SQuadro.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password";
}
@Html.Partial("Header")
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label col-lg-4", @for = "inputEmail" })
        <div class="col-lg-8">
            @Html.TextBoxFor(m => m.Email, new { id = "inputEmail", @class = "form-control", placeholder = "Email Address", autofocus = "autofocus" })
        </div>
    </div>
}