@model SQuadro.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutAnonym.cshtml";
}
@Html.Partial("Header")
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Token)
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label col-lg-4" })
        <div class="col-lg-8">
            <div class="input-prepend">
                <span class="add-on"><i class="glyphicon glyphicon-lock"></i></span>
                @Html.PasswordFor(m => m.Password, new { @class = "input-xlarge", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-lg-4" })
        <div class="col-lg-8">
            <div class="input-prepend">
            <span class="add-on"><i class="glyphicon glyphicon-lock"></i></span>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-xlarge", placeholder = "Password Confirmation" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-8 submit-container-long">
            <button class="btn btn-default btn-lg btn-primary pull-right" type="submit">Reset Password</button>
        </div>
    </div>
}